.buildChatbotContainer {
    flex: 4;
}
.buildChatbot {
    display: flex;
    justify-content: space-between;
    background-color: #FBFAFB;
    margin-top: 20px;
}
.buildChatbotNotice {
    width: 80%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    font-weight: 700;
    color: #551A89;
    box-shadow: 4px 23px 34px -30px rgba(0,0,0,0.45);
    -webkit-box-shadow: 4px 23px 34px -30px rgba(0,0,0,0.45);
    -moz-box-shadow: 4px 23px 34px -30px rgba(0,0,0,0.45);
}


.buildChatbotIntents {
    width: 30%;
    height: 80%;
    border: solid .5px #e3e3e3;
    border-radius: 10px;
}